  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
    font-family: 'Open Sans', sans-serif;
     background-color: #FBFFB1;
     font-weight: 300;
     /* background-color: #98D7C2; */
 }

 html {
     scroll-behavior: smooth;
     scroll-padding-top: 82px; 
 }

 .all-headers {
    text-transform: capitalize;
     margin-left: 2rem;
    font-family: 'Playball', cursive;  
     color:#333;
     padding: 1rem;
     font-size:2.2rem;
     
 }

 /* top-header section starts here */
 .top-header {
     width: 100%;
     height: 30px;
     background: rgb(19, 19, 19);

     /* border:2px solid red; */
 }

 .topbar {

     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0.5rem 2rem;
 }

 .topbar a,
 .timming {
     text-decoration: none;
     color: #fff;
     font-size: 0.9rem;
 }

 /* top-header section Ends here */


 /* Navigation Section starts here */
 header {
     position: sticky;
     top: 0px;
     z-index: 20;
     background:#1B4B2E;
    /* background: #256940; */


 }

 li {
     list-style: none;
 }

 .nav-logo {
     color: #ffff;
     text-decoration: none;
     font-size: 2rem;
     padding: 0 1rem;
 }

 .nav-link {
     color: #ffff;
     text-decoration: none;
     margin: 0 0.5rem;
     transition: 0.7s ease;
 }

 .nav-link:hover {
     color:rgb(146, 206, 57);
     border-bottom: 2px solid #fff;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 51px;
     padding: 0 2rem;
 }

 #book-now{
    background-color:rgb(146, 206, 57);
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    margin-left: 1.2rem;
    border-radius:30px;
    box-shadow: 3px 10px 18px #1C4A1C;
 }

 #book-now:hover{
    background-color:#5acd5a;
    
    
 }

 .nav-menu {
     display: flex;
     justify-content: space-between;

 }

 .hamburger {
     display: none;
     cursor: pointer;
 }

 .bar {
     display: block;
     background-color: #fff;
     width: 27px;
     height: 3px;
     margin: 0.4rem;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }

 /* Navigation Section Ends here */

 /* image slider (hero section)  starts here */
 .container {
     display: flex;
     /*just to bring the slider in center */
     /* align-items: center; */
     justify-content: center;
     width: 100%;
     height: 90vh;
     /* background-color: rgb(24, 125, 92); */
 }

 .swiper {
     /* border:2px solid red; */
     width: 100%;
     /*slider display width  */
     height: 530px;
     display: block;
 }

 .swiper-slide img {
     width: 100%;
     height: 100%;
 }

 .slider-2 img {
     height: 530px;
 }

 .swiper .swiper-button-prev,
 .swiper .swiper-button-next {
     color: #ffff;
 }

 .swiper .swiper-pagination-bullet-active {
     background-color: aqua;
 }


 .content {
     position: absolute;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .header-content {
     font-weight: 900;
     text-transform: capitalize;
     color: #fff;
     text-shadow: rgb(50, 49, 49) 0px 10px 20px;
     padding-bottom: 1.5rem;
 }

 .book-now {
     background-color: aquamarine;
     color: #111010;
     padding: 8px 15px;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     font-size: 16px;
 }

 /* image slider (hero section)  ends here */

 /* About Us Section Starts Here */

 .about-container {
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     background:#1C4A1C;
     border:1px solid yellow;
     padding: 2rem 0;
     /* border:2px solid red */
 }



 .about-img {
     /* flex: 1; */
     padding: 1rem;
 }

 .about-img img {
     height: 250px;

 }

 .about-text {
     flex: 1;
     padding: 1rem;
     width: 80%;

 }

 .about-text p {
     margin-bottom: 20px;
 }

 /* About Section Ends Here */

 /* <!-- Services Section Starts Here --> */

 .s-container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     padding-bottom: 2rem;
     margin: 0 auto;
    
 }

 .box {
     width: 250px;
     background-color: #ffff;
     margin-top: 0.8rem;
     margin-bottom: 1rem;
     border-radius: 12px;
     color: rgb(45, 44, 44);
     padding-bottom: 1rem;
     /* box-shadow: 0px 5px 18px rgb(231, 127, 116); */
 }

 .s-info {
    font-family: 'Open Sans', sans-serif;
     text-align: center;
     margin: 0 0 10px;
     font-size: 14px;
 }

 .s-header {
    font-family: 'Bitter', serif;
    /* font-weight: 500; */
    color:#609966;
     text-align: center;
     text-transform: uppercase;
     padding: 0.5rem;
 }

 .box img {
     border-radius: 5px;
     max-width: 100%;
     width: 250px;
     height: 200px;
 }
 /* <!-- Services Section Ends Here --> */
 
 /* <!-- Testimonials section starts here --> */
 .testimonial-slider {
    background:#1C4A1C;
    padding: 1rem 0;
    border:1px solid yellow;
    width: 100%;
    overflow: hidden;
  }

  .testimonial-slider .swiper-pagination-bullet{
    background-color:#82CD47;
    font-weight: 600;
  }


  img.testimonial-image {
    display: block;
    margin: 0 auto 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
     object-fit: cover; 
   
  }
  .testimonial-name {
    font-size: 24px;
    font-weight: bold;
    color:#c1c752;
    text-align:center;
    margin-bottom:10px;
  }

  .testimonial-text {
    font-size: 18px;
    color:#ffff;
    line-height: 1.5;
    width:80%;
    text-align: center;
    margin:0 auto;
    font-family: 'Bitter', serif;
    font-size:20px;
  }

  .testimonial-pagination{
    text-align: center;
    margin:1rem auto;
    color:#ffff;
  }

  /* Testimonials section Ends here */

   /* Contact Us Section starts here */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    margin-bottom: 15px;
}

.contact-box {
    background: #ffff;
    display: flex;
    width:90%;

}

.contact-left {
    flex-basis: 60%;
    flex-shrink: 1;
}

.contact-right {
    flex-basis: 40%;
    padding: 2rem;
    background: #FBFFB1;
    box-shadow:8px 5px 23px coral;
    color: #333;
    border:none;
}

.booking-header{
    text-align: center;
    margin-bottom: 1.3rem;
}


#contact-form {
    max-width: 550px;
    max-height: 550px;
    padding: 1rem;
    background-color: #ffff;
    color: #82CD47;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.column {
    flex-basis: 40%;
}


label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    border:none;
    border-bottom:1px solid grey;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 12px;
}

.text-area {
    max-width: 100%;
    overflow:auto;
    display: flex;
    padding: 8px;
    border:none;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 12px;
    outline: none;
}

input[placeholder] {
    text-transform: capitalize;
    font-size: 12px;
}

input[type="email"] {
    text-transform: lowercase;
}

#contact-form button {
    background-color: #1C4A1C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

#contact-form button[type="reset"] {
    margin-left:21rem;
}

/* ReachUs section */
.reach-us {
    padding:20px;
    margin-bottom: 20px;
}

.reach-us h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.reach-us ul {
    list-style: none;
}

.reach-us ul li {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}


.reach-us ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.reach-us .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(146, 206, 57);
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.reachUs-phone,.reachUs-address{
    background-color:#5acd5a;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius:30px;
}
.reachUs-address{
    padding:0.5rem;
}

.reachUs-phone:hover,.reachUs-address:hover{
    background-color:rgb(146, 206, 57);
    
}
.reach-us .social-icons a:hover {
    background-color: #666;
}

.reach-us .social-icons a i {
    vertical-align: middle;
}

/* Contact Us Section Ends here */

 /* Footer Section Starts Here  */

.footer{
    position: sticky;
     top: 0px;
     z-index: 20;
     background:#1B4B2E;
     padding: 1rem 0.5rem;
}

.developer{
    color:#d4dd34;

}

.footer-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffff;

}
 
 /* Footer Section Ends Here  */


















 @media only screen and (max-width:768px) {

     .hamburger {
         display: block;
     }

     /* turning the hamburger icon to closing icon (easiest way) */
     .hamburger.active .bar:nth-child(2) {
         opacity: 0;
     }

     .hamburger.active .bar:nth-child(1) {
         transform: translateY(10px) rotate(45deg);
     }

     .hamburger.active .bar:nth-child(3) {
         transform: translateY(-9px) rotate(-45deg);
     }

     .nav-menu {
         position: fixed;
         left: -100%;
         top: 70px;
         width: 100%;
         flex-direction: column;
         background-color: #333;
         text-align: center;
         transition: 0.4s ease-in;
     }

     .nav-item {
         margin: 1rem 0;
     }

     .nav-menu.active {
         left: 0;
     }


 }